/* tags */

* {
    font-weight: 500;
}

body{
    margin: 0px;
    background-color: #202529;
    
}

hr{
    width:4%;
    background-color:#f4f9f9;
    border-style: dotted none none none;
    border-color: grey;
    border-width:5px;
    display: block;
    margin:0 auto 0 auto;

}

td,th{
    vertical-align: top;
    padding: 10px 5px 10px 5px;
    text-align: left;
}

footer{
    text-align:right;
    padding:1%;
}

h4{
    color: #f05454;
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
}

h3{
    color: #f05454;
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
}

tr{
    font-family: 'Courier New', Courier, monospace;
    color: #30475e;
    font-weight: bold;
}

/* classes */

/* intro-div */

.intro-div{ 
    background-image: url(../img/intro.svg);
    background-size: cover;
    padding:2%;
    border-radius: 25px;
    margin: 1%;
    text-align: center;
    box-shadow: 10px 10px 16px #000000; 
    
}
.name{
    text-align: center;
    color: #f05454;
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    margin: 0px;
    font-weight: 500;
}
.my-pic{
    display:block;
    margin:1px auto 10px auto;
    border-radius: 50%;
}
.intro{
    text-align:center;
    text-decoration: italic;
    color: #f05454;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin:0px;
}

/* education-div */

.edu-div{
    background-image: url(../img/education.svg);
    background-size: cover;
    padding:2%;
    border-radius: 25px;
    margin: 1%;
    text-align: center;
    box-shadow: 10px 10px 16px #000000; 
}
.edu-table{
    margin:0px auto 0px auto;
    text-align:center;
}
.edu-th{
    color:#276678;
}

/* lang-div */

.lang-div{ 
    background-image: url(../img/lang.svg);
    padding:2%;
    border-radius: 25px;
    margin: 1%;
    text-align: center;
    box-shadow: 10px 10px 16px #000000; 
}
.lang-table{
    margin:0px auto 0px auto;
    width:50%;
    text-align:center;
}
.heading{
    text-align:center;
    color: #f05454;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    margin:0px;
    padding-bottom: 20px;
}

/* OP DIV */

.op-div{
    background-image: url(../img/op.svg);
    text-align: center;
    padding:2%;
    border-radius: 25px;
    margin: 1%;
    box-shadow: 10px 10px 16px #000000; 
}
.op{
    padding-bottom: 30px;
}
.link{
    text-decoration: none;
    padding:10px
}

/* CONTACT ME DIV */

.contact-me-div{
    background-image: url(../img/contact-me.svg);
    background-size: cover;
    padding:2%;
    border-radius: 25px;
    margin: 1%;
    text-align: center;
    box-shadow: 10px 10px 16px #000000; 
}

/* MEDIA QUERIES */

@media(max-width:1000px){
    .hacker{
        width: 5%;
    }
    .intro-div, .education-div, .lang-div, .op-div, .contact-me-div{
        padding:8%;
        margin:5%;
    }
}